# Python version: 3.7
numpy>=1.16.0
tensorflow==1.15
keras>=2.3.0
matplotlib>=3.0.0
torch>=1.4.0
torchvision>=0.5.0
torchaudio>=0.3.0

#conda create -n adv-3.7 python=3.7
#conda install -c conda-forge tensorflow-gpu=1.15 cudatoolkit=10.0 cudnn=7.6 -y
